* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f2f7ff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 36px;
  color: #002c71;
  margin: 0;
}

.question {
  font-size: 20px;
  margin-bottom: 10px;
  color: #002c71;
}

.options {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  color: #002c71;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="radio"]:checked + span {
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #002c71;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004a99;
}

.footer {
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    margin-top: 0;
    padding: 20px;
  }

  .header h1 {
    font-size: 28px;
  }

  .question {
    font-size: 18px;
  }

  label {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }
}
